<%= form_with(model: note) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>
      <ul>
        <% note.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="mb-3">
      <%= form.label :title, :class => "form-label"%>
      <%= form.text_field :title, :class => "form-control"%>
    </div>
    <%= form.hidden_field :id_book, value: note.book.id %>
    <div class="container box p-4">
      <div class="mb-3">
        <%= form.label :content, :class => "form-label" %>
        <%= form.rich_text_area :content %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit :class => " btn btn-dark btn-block" %>
  </div>
<% end %>
