<h1 class="title" >Notes</h1>
<h5 class="text-center">These are all you notes:</h5>
<div class="container">
  <div class="row justify-content-start">
    <% @notes.each do |note| %>
      <div class="col-12 col-md-3 align-self-center m-4">
        <div class="box text-center" style="max-width: 20em; min-width: 18em;">
          <div class="row justify-content-center">
            <div class="col align-self-center">
              <div class="card-body">
                <h5 class="card-title title"><%= note.title %></h5>
                <p class="updated-text" style="color: black;"><small class=" ">Book: <%= truncate(note.book.name, length: 20,:omission => '') %></small></p>  
                <p class="updated-text"><small class=" ">Updated <%= truncate(note.updated_at.to_s, length: 20,:omission => '') %></small></p>  
                <div class="btn-group-vertical ">
                    <%= link_to '<i class="fas fa-eye"></i></i> Show'.html_safe , note ,:class => "btn btn-outline-dark "%>
                    <%= link_to '<i class="far fa-edit"></i> Edit'.html_safe , edit_note_path(note),:class => "btn btn-outline-dark " %>
                    <%= link_to '<i class="fas fa-download"></i> Download'.html_safe , download_note_path_path(note) ,:class => "btn btn-outline-dark " %>
                    <%= link_to  '<i class="far fa-trash-alt"></i> Destroy'.html_safe, note, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-dark " %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>