<div class="row justify-content-md-center">
    <div class="col-5 col-xl-2">

      <h1 class="title">BOOKS</h1>
    </div>
    <div class="col">
      <%= link_to '+ NEW BOOK', new_book_path, :class => "btn btn-outline-dark "%>
    </div>
    
</div>
<div class="row ">
<% @books.each do |book| %>
<div class="col-12">
  <div class="box container p-3 mb-3">
    <div class="row justify-content-md-center" >
      <div class="col-xl-10 col-8 ml-5">
        <div class="row mt-4">
          <h1 class="title  "> <%= book.name %></h1>
        </div>
        <div class="row ">
          <h5 > CANTIDAD DE NOTAS: <%= book.notes.count %></h5>
        </div>
      </div>
      <div class="col">
         <div class="btn-group-vertical">
            <%= link_to '+ Add Note', new_note_path(:id_book => book.id),  :class => "btn btn-outline-dark " %>

            <%= link_to 'Show', book ,:class => "btn btn-outline-dark "%>

            <%= link_to 'Edit', edit_book_path(book),:class => "btn btn-outline-dark " %>


            <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-dark " %>
        </div>
          </div>
      </div>

    


</div>
</div>
<%end%>
</div>
