<div class="row justify-content-md-center">
    <div class="col-5 col-xl-2">

      <h1 class="title">BOOKS</h1>
    </div>
    <div class="col">
      <%= link_to '+ NEW BOOK', new_book_path, :class => "btn btn-outline-dark "%>
    </div>
    
</div>
<div class="row ">
<% @books.each do |book| %>
<div class="col-12">
  <div class="box container p-3   mb-3" style="min-width: 24em;">
    <div class="row align-items-center ml-3" >
      <div class="col-xl-10 col-8 align-self-center ">
        <div class="row ">
          <h1 class="title  "> <%= book.name %></h1>
        </div>
        <div class="row ">
          <h5 > CANTIDAD DE NOTAS: <%= book.notes.count %></h5>
        </div>
      </div>
      <div class="col align-self-center ">
         <div class="btn-group-vertical">
            <%= link_to '+ Add note', new_note_path(:id_book => book.id),  :class => "btn btn-outline-dark " %>

            <%= link_to '<i class="far fa-sticky-note"></i> Notes'.html_safe , book ,:class => "btn btn-outline-dark "%>

            <%= link_to '<i class="far fa-edit"></i> Edit'.html_safe , edit_book_path(book),:class => "btn btn-outline-dark " %>


            <%= link_to  '<i class="far fa-trash-alt"></i> Destroy'.html_safe, book, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-outline-dark " %>
        </div>
          </div>
      </div>
</div>
</div>
<%end%>
</div>
