<!DOCTYPE html>
<html>
  <head>
    <title>My Notes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield :css %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <%# IMPORT FONTS %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
  </head>

  <body>
  <div class="wrapper">
   <% if user_signed_in? %>
    <%= render 'partials/nav' %>
    <%end%>
     <div id="content" class="mt-4 container-sm">
     
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <% if user_signed_in? %>
          <nav class="navbar mb-3 pl-0">

                <button type="button" id="sidebarCollapse" class="btn btn-dark">
                    <span>MENU</span>
                </button>

          </nav>
        <% end %>
        <%= yield %>
      </div>
  </div>
  </body>
<script>


            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });


</script>
</html>
